  body{
    margin:0;
    padding:0;
    display:grid;
    place-items:center;
    height:100vh;
  }
  html{
    font-size:62.5%;
  }
  .main{
    width:100vw;
  }
  .india{
    display:flex;
    justify-content:space-between;
  }
  .active,.recovered,.death,.total{
    width:20vw;
    height:20vw;
    background:#ddf;
    margin:1.5rem;
    border-radius:.9rem;
    text-align:center;
    color:#fff;
  }
  .active{
    background:linear-gradient(#6dc3ff,#af6aff);
  }
  .recovered{
    background: linear-gradient(#e8e872,#c772e8);
  }
  .death{
    background:linear-gradient(#72e87c,#7472e8);
  }
  .total{
    background: linear-gradient(#79f7bf,#79d2f7);
  }
  .img{
    width:50%;
    margin-top:1rem;
  }
  #active_cases,#recovered_cases,#death_cases,#total_cases{
    font-size:1.5rem;
  }
